﻿@{
    ViewBag.Title = "Form Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>

<div id="form">

    @using (Html.BeginForm("FormPage", "Form", FormMethod.Post))
    {
        <label>Enter your name</label>
            @Html.TextBox("name", "");
        <br />
        <p>Do you want more science fiction books?
            @Html.CheckBox("wantSciFi")
        </p>
        <br />
        <p>Do you want a version of this site for smartphones?
            @Html.CheckBox("wantMobileVersion", "")
        </p>
        <br />
        <ul>What literary genre do you prefer?</ul><br />
        <li> Fantastic @Html.RadioButton("genre", "Fantastic")</li><br />
        <li> Detectives @Html.RadioButton("genre", "Detectives")</li><br />
        <li> History @Html.RadioButton("genre", "History")</li><br />
        <li> Adventure @Html.RadioButton("genre", "Adventure")</li><br /><br />
        <input class="submit" type="submit" value="Send" />
    }
</div>