﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href=@Url.Content("~/Content/Site.css") type="text/css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <main>
        <h1 class="text-center">
            <img alt="logo" src="~/logo.png" class="logo" />
            Library "Task23_Middle"
        </h1>
    </main>
    <div id="content" class="row">
        <div id="left" class="col-md-8">
            @RenderBody()
        </div>
        <div id="menu" class="col-md-2">
            <ul class="nav nav-stacked nav-pills text-center">
                <li><a href="/Main/MainPage">Main page</a></li>
                <li><a href="/Guest/GuestPage">Guest page</a></li>
                <li><a href="/Form/Form">Form page</a></li>
            </ul>
        </div>
    </div>
    <br />
    <footer>
        <script src="~/Scripts/up.js"></script>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
