﻿﻿@{ ViewBag.Title = "Guest Page";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<div id="reviews" class="col-md-offset-2">
    @foreach ((string name, string dateOfPublish, string text) a in Model)
    {
<div class="article">
    <p class="articleName">@a.name:</p>
    <p class="articleDate">@a.dateOfPublish</p>
    <p class="articleText">@a.text</p>
</div>}

    @using (Html.BeginForm("AddReview", "Guest", FormMethod.Post))
    {
      <input type="hidden" value=@DateTime.Now.ToShortDateString() name="date" />
     <p>Enter your name</p>
        @Html.TextBox("name", "", new { @class = "col-ms-12" });
     <p>Enter your review</p>
        @Html.TextArea("text", "", null);
     <input type="submit" class="submit" value="Send" />}
</div>


