﻿﻿@{ ViewBag.Title = "Main Page"; }

<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

@foreach ((string name, string dateOfPublish, string text) user in Model)
{
<div>
    <h2>@user.name</h2>
    <p>@user.dateOfPublish</p>
    <p>@user.text</p>
</div>}


