﻿html {
    scroll-behavior: smooth;
    width: 100%;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 30px;
}

main,
footer {
    background-color: cadetblue;
    color: white;
    content: "";
}


#content {
    width: 80%;
    margin: 0px auto;
    flex: 1 0 auto;
}

ul li a {
    color: black;
}

.logo {
    width: 120px;
    height: auto;
}


footer {
    margin: 0px;
    display: flex;
    flex-shrink: 0;
    height: 60px;
    align-items: center;
    justify-content: center;
}

#up {
    color: white;
    border: 1px solid white;
    height: 20px;
    width: 60px;
    display: inline-block;
    border-radius: 8px;
}

.article {
    border: 1px solid black;
    margin: 10px auto;
    padding-top: 5px;
    padding-left: 10px;
}

#name {
    width: 100%;
    margin: 10px 0px;
}

#text {
    width: 100%;
    margin: 5px 0px;
    resize: none;
    height: 70px;
}

.submit {
    width: 100%;
    height: 30px;
}
